

.container__main{
  display: flex;
  flex-direction: row;

    img{
      width:350px;
      height:350px;
  }

    & p{
      width:100%;
      padding: nth($measurementspx, 5) nth($measurementspx, 2) 0 nth($measurementspx, 2);
      margin-left: 15px;
      color:rgb(63, 61, 61);
      font-size: 18px;
      text-align: justify;
      font-style: italic;
    
  }
}

.pic__about{
  padding: 20px;
  margin-left: 20px;
}

.container__skills{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width:55%;
    margin-top: 15px;
    padding-left: 20px;
  
  }


.container {
    border: solid 1px white;
    border-radius: 20px;
    text-align: center;
    padding: nth($measurementspx,1)/2;
    margin: 20px;
    background-color: rgb(221, 216, 216); 
}


  
.skills {
    text-align: right; 
    padding-top: nth($measurementspx,1)/2; 
    padding-bottom: nth($measurementspx,1)/2; 
    color: white; 
  }
  
.html {
    width: 90%; 
    background-color: #f77268;
    transition: 3s;
  } 
  
.css {
    width: 80%; 
    background-color: rgb(12, 165, 165);
    transition: 4s;
  } 
  
.js {
    width: 65%; 
    background-color: #ebcd6b;
    transition: 5s;
  } 
  
.ux {
    width: 50%; 
    background-color: #808080;
    transition: 6s;
  } 

.tools ul li{
    display:inline;
    text-decoration: none;
    flex-direction: row;
    position:relative;
    font-size: nth($measurementspx,3);
    padding: 25px;
    margin-left: 20px;
    color:rgb(63, 61, 61)
    

  }

  .extras{

    display: flex;
    flex-direction: row;
    margin-top:10px;
  }

  .centre__about{

    display: flex;
    flex-direction: row;

  }

  .lists li{

    text-decoration: none;
    list-style: none;
    padding: 15px;
    margin: 20px;
    margin-top: 30px;
    color:rgb(63, 61, 61)
  }