h1{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    color:$bgcFooterNav;
    margin-top: 15px;
}

.contact__text{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    font-size: 20px;
    padding:50px;

    & p span{
        color:rgba(230, 233, 42, 0.938);
        text-decoration: underline;
    }

    p{

        font-style: italic;
    }
}
.form__box{
    width:50%;
    margin-left: 350px;

    .button__contact{

        margin-left: 250px;
    }
    
}
