@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
* {
    margin: 0;
    padding: 0; }

* {box-sizing:border-box}

html {
    scroll-behavior: smooth; }

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: map-get($colores, bg );
    scroll-behavior: smooth; }


.header__home{

    @extend %flexboxRow;
    background-color: $bgcFooterNav;
    padding-top:10px;

    h1{
        border: solid 2px white;
        color: map-get($colores , title);
        margin:10px;
        font-size: 50px;
        margin-left: -150px;
    
        
    }

}

.iconos__header a{
    @extend %flexboxRow;
    margin-left: 50px;
    color: white;

    &:hover{
        color: #ebcd6b;
    }
}

.navbar {

    @include flexbox (column, center,wrap,center);
    background-color: $bgcFooterNav;
    height:100px;

    &-items{
        display: flex;
        list-style: none;
        font-size: 15px;
        margin:10px;
        
        li a{
            display:flex;
            justify-content: space-between;
            color:white;
            text-decoration: none;
            font-size:20px;
            padding:10px;
            
            &:hover{
                color:#ebcd6b;
                transition:2s;
                text-decoration: underline;
            }
            
        }
    }
}

.navbar h1{
    border: solid 2px white;
    color:white;
}


.iconos {
    @extend %flexboxRow;
    align-items: center;
    padding:50px;
    
    a{
        color:white;
        padding:10px;
        
        &:hover{
            color: #ebcd6b;
        }
    }
    h5{
        margin:15px;  
    }
}

.home__pic {
    width: 100%; 
}

.paragrah__home {
    display: inline-block; 
}

.photos__home {
    width: 450px; 
}

.paragraph__1 {
    display: inline-block;
    justify-content: center; 
}

.container {
    border: solid 1px white;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin: 25px;
    color: black; 
}

.container__footer {
    display:flex;
    background-color: $bgcFooterNav;
}

.design{
    margin-top:70px;
    
    h6{
        font-size:10px;
        margin-left:150px; 
    }
}

.navbar-items-footer{
    list-style: none;

    & li a{
        display:flex;
        text-decoration: none;
        justify-content: center;
        margin-left:300px;
        color:white;
        font-size:12px;
        padding-top:10px;
    }
}


.container__gallery {
    display: inline-block;
    border: solid gray 1px;
    border-radius: 20px;
    margin: 15px;

}

.container__pic{
    float: left;
    position:relative;
    width: 33.33%;
    padding: 100px;

    img{
        margin-top:8px;
        vertical-align: middle;
        width:300px;
        height:300px;  
    }

}
    
.center {
    position: relative;
    margin-top: 35px;
    margin-right: 45px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(102, 190, 219);
    font-size: 15px;
    
}
  

h2{
    text-align: center;
    color:rgb(102, 190, 219);
    font-weight: bold;
    font-style: italic;
    padding-top: 15px;
    padding: 5px;
    margin-top: 20px;
    
  
}

.reviews{
    @include flexbox (row,justify, wrap, center);
    font-size:60px;
    padding-left: 150px;
    padding-right:150px;
    margin: 10px;

    
    h5{
        text-align: center; 
    }
}

.carousel-inner{
    width:80vw;
    height: 80vh;
    margin-left: 120px;
}
.pic__review {
    padding: 15px;
    &hover{
    transition: 3s;
    }
}

.text__paragraph p{

    justify-content: center;
    padding: 25px;
    text-align: justify;
    font-style: italic;
    color: rgb(63, 61, 61);
    font-size: 18px;
    
}
