
.gallery__portfolio{
    display:flex;
    flex-direction: column;
    
    
}

.carousel {
    &__slide {
        flex-basis: 33%;
        padding:50px;
        margin-left:40px;
    }
}

.fontsize__h2{

    font-size:18px;
    margin-right: 35px;
    margin-top: 15px;
}


.carousel__slide p{
   
    align-items: center;
    color: rgb(63, 61, 61);
    padding-left: 350px;
    text-align: justify;
    font-size: 18px;
    width: 70%;
    padding-top: 55px;
  

}