
.gallery__portfolio{
    display:flex;
    flex-direction: row;
    
    
}

.carousel {
    &__slide {
        flex-basis: 33%;
        padding:50px;
    }
}

.fontsize__h2{

    font-size:18px;
}
.carousel-img{
    
    width: 300px;
    height: 300px;
    
    
    
    
}