$bgcFooterNav: #98b1e0;


/* list */

$measurementspx:
10px, /* 1 */
15px, /* 2 */
20px,/* 3 */
25px,/* 4 */
100px;/* 5 */

/* Map */

$colores: (
    title: rgb(248, 241, 248),
    prime-hover: darken( rgb(121, 58, 204), 20),
    bg: #f1f1eb,

);

/* Extend */

%flexboxRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

/* Mixin */

@mixin flexbox ($direction, $justify, $wrap, $center){
        display: flex;
        flex-direction: $direction;
        justify-content: $justify;
        flex-wrap: $wrap;
        align-items: $center;
}